@import "common.scss";

.project-container {
  @include mid-desktop {
    height: 40vw;
  }
  @include tablet {
    height: 37.5vw;
  }
  @include large-mobile {
    flex-direction: column;
    width: 80vw;
    height: auto;
    gap: 1em;
    padding: 0.5em 1.5em;
  }
  height: 30vw;
  width: auto;
  display: flex;
  gap: 2.5vw;
  padding: 1.5em;
  box-shadow: 0px 0px 4px rgb(255, 255, 255);
  border-radius: 10px;
  background-image: url($texture-gray);
  &.reverse {
    @include large-mobile {
      flex-direction: column;
    }
    flex-direction: row-reverse;
  }
}

.see-more {
  color: white;
  cursor: pointer;
  &:hover {
    .overlay-text {
      opacity: 1;
    }
  }
}

.screenshot-container {
  height: 100%;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.01);
    .picture {
      filter: brightness(40%);
    }
  }
}

.picture {
  @include large-mobile {
    border-radius: 5px;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 1);
    width: 100%;
    height: auto;
  }
  @include tablet {
    box-shadow: 10px 10px 17px -10px rgba(0, 0, 0, 1);
  }
  height: 100%;
  border-radius: 10px;
  border: 2px solid $purple;
  box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 1);
  transition: filter 0.2s ease-in-out;
  &.reverse {
    @include large-mobile {
      border-radius: 5px;
      box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 1);
    }
    @include tablet {
      box-shadow: -10px 10px 17px -10px rgba(0, 0, 0, 1);
    }
    box-shadow: -10px 10px 25px -10px rgba(0, 0, 0, 1);
  }
}

.overlay-text {
  @include large-mobile {
    font-size: 2em;
  }
  font-size: 2.5em;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.presentation-and-tools {
  @include mid-desktop {
    flex-direction: column;
    justify-content: space-around;
    gap: 1vw;
  }
  display: flex;
  gap: 2.5vw;
  &.reverse {
    flex-direction: row-reverse;
    @include mid-desktop {
      flex-direction: column;
    }
  }
}

.presentation {
  @include mid-desktop {
    width: auto;
    gap: 2.5vw;
  }
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  // @include mid-desktop {
  //   font-size: 2.8em;
  //   margin-top: 0;
  // }
  // @include tablet {
  //   font-size: 2.3em;
  // }
  @include large-mobile {
    display: none;
  }
  font-size: 3.5vw;
  margin-top: -2vw;
  &.reverse {
    text-align: end;
  }
}

.title-mobile {
  @include large-mobile {
    display: flex;
    align-self: center;
    font-size: 1.8em;
  }
  @include small-mobile {
    font-size: 1.5em;
  }
  display: none;
}

.summary {
  @include large-mobile {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 0.5em;
  }
  font-size: 2.5vw;
  font-weight: 600;
  color: black;
  &.reverse {
    @include large-mobile {
      text-align: center;
    }
    text-align: end;
  }
}

.tools {
  @include mid-desktop {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /////////////////////////////////////////////////
  .html-logo {
    @include large-mobile {
      font-size: 15vw;
    }
    color: $html-color;
    @include tools-icons-dimensions;
    font-size: 8vw;
  }
  /////////////////////////////////////////////////
  .css-logo {
    @include large-mobile {
      font-size: 15vw;
    }
    color: $css-color;
    @include tools-icons-dimensions;
    font-size: 8vw;
  }
  /////////////////////////////////////////////////
  .js-logo {
    @include large-mobile {
      font-size: 15vw;
    }
    color: $js-color;
    @include tools-icons-dimensions;
    font-size: 8vw;
  }
  /////////////////////////////////////////////////
  .lighthouse-logo {
    @include large-mobile {
      width: 23%;
    }
    @include lighthouse-logo-dimensions;
    width: 35%;
  }
  /////////////////////////////////////////////////
  .wave-logo {
    @include large-mobile {
      width: 23%;
    }
    @include wave-logo-dimensions;
    width: 35%;
  }
  /////////////////////////////////////////////////
  .react-logo {
    @include large-mobile {
      font-size: 15vw;
    }
    color: $react-color;
    @include tools-icons-dimensions;
    font-size: 7.9vw;
  }
  /////////////////////////////////////////////////
  .sass-logo {
    @include large-mobile {
      font-size: 15vw;
    }
    color: $sass-color;
    @include tools-icons-dimensions;
    font-size: 7.9vw;
  }
  /////////////////////////////////////////////////
  .node-logo {
    @include large-mobile {
      font-size: 15vw;
    }
    color: $node-color;
    @include tools-icons-dimensions;
    font-size: 8vw;
  }
  /////////////////////////////////////////////////
  .mongodb-logo {
    @include large-mobile {
      width: 13%;
    }
    @include mongodb-logo-dimensions;
    width: 15%;
  }
  /////////////////////////////////////////////////
  .express-logo {
    width: 40%;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 6, 28, 0.786);
  z-index: 100;
}

.modal {
  @include large-mobile {
    width: 75vw;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0d0b0c;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  z-index: 1000;
  width: 70vw;
  height: 75vh;
}

.modal-content {
  @include tablet {
    overflow-y: auto;
  }
  padding: 2em;
  .fa-solid {
    @include tablet {
      font-size: 1em;
    }
    font-size: 1.5em;
    margin: 0;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }
}

.image-and-details {
  @include tablet {
    flex-direction: column;
    gap: 1em;
  }
  display: flex;
}

.responsive-illustration {
  @include mid-desktop {
    height: 13.1em;
    margin: auto;
  }
  @include tablet {
    width: 70%;
    height: auto;
    margin-top: -1.5em;
  }
  @include large-mobile {
    width: 100%;
    height: auto;
  }
  height: 24em;
}

.details {
  @include mid-desktop {
    font-size: 1em;
  }
  @include tablet {
    margin: 0;
  }
  font-size: 1.2em;
  margin-left: 1em;
  .purple {
    @include tablet {
      display: block;
      text-align: center;
      margin-bottom: -1em;
    }
    color: $purple;
  }
}

.links-container {
  @include mid-desktop {
    top: 75%;
  }
  @include tablet {
    position: static;
    justify-content: space-around;
    margin: 5px;
  }
  display: flex;
  gap: 3em;
  position: absolute;
  top: 83%;
}

.link-wrapper {
  margin-top: 1.5em;
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.06);
  }
}

.link {
  @include large-mobile {
    font-size: 0.8em;
  }
  color: white;
  white-space: nowrap;
  text-decoration: none;
  background-color: $purple;
  font-size: 0.9em;
  width: fit-content;
  padding: 0.5em;
  border-radius: 5px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
