@import "common.scss";

.project-container {
  display: flex;
  gap: 2em;
  padding: 2em;
  box-shadow: 0px 0px 4px rgb(255, 255, 255);
  border-radius: 10px;
  background-image: url("background-light.png");
  &.reverse {
    flex-direction: row-reverse;
  }
  .link-to-site {
    color: white;
    cursor: pointer;
    &:hover {
      .overlay-text {
        opacity: 1;
      }
    }
    .screenshot-container {
      height: 25em;
      position: relative;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(1.01);
        .picture {
          filter: brightness(40%);
        }
      }
      .picture {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        border: 2px solid #69648d;
        box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 1);
        transition: filter 0.2s ease-in-out;

        &.reverse {
          box-shadow: -10px 10px 25px -10px rgba(0, 0, 0, 1);
        }
      }
    }
    .overlay-text {
      font-size: 2.5em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }

  .presentation {
    width: 27em;
    height: 25em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .title {
      font-size: 2.5em;
      &.reverse {
        text-align: end;
      }
    }
    .description {
      display: flex;
      flex-direction: column;
      font-size: 1.2em;
      color: black;
      gap: 1em;
      .github {
        background-color: $purple;
        font-size: 0.9em;
        width: fit-content;
        padding: 0.3em;
        border-radius: 5px;
        margin-bottom: -1.5em;
        transition: transform 0.1s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
        &.reverse {
          align-self: flex-end;
        }
        .github-link {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .tools {
    height: 25em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .html-logo {
      color: $html-color;
      @include tools-icons-dimensions;
    }
    .css-logo {
      color: $css-color;
      @include tools-icons-dimensions;
    }
    .js-logo {
      color: $js-color;
      @include tools-icons-dimensions;
    }
    .lighthouse-logo {
      @include lighthouse-logo-dimensions;
    }
    .wave-logo {
      @include wave-logo-dimensions;
    }
    .react-logo {
      color: $react-color;
      @include tools-icons-dimensions;
    }
    .sass-logo {
      color: $sass-color;
      @include tools-icons-dimensions;
    }
    .node-logo {
      color: $node-color;
      @include tools-icons-dimensions;
    }
    .mongodb-logo {
      @include mongodb-logo-dimensions;
    }
    .express-logo {
      @include express-logo-dimensions;
    }
  }
}
