@import "/common.scss";

.about {
  @include mid-desktop {
    width: 70%;
  }
  @include tablet {
    width: 80%;
  }
  @include large-mobile {
    width: 83%;
    flex-direction: column;
    border-radius: 0;
    text-align: center;
  }
  display: flex;
  margin: 3em auto 0 auto;
  padding: 2em;
  width: 60%;
  background-image: url("background-light.webp");
  background-repeat: repeat;
  color: black;
  text-align: justify;
  align-items: center;
  border-radius: 80px 15px 80px 15px;
  box-shadow: 0px 0px 4px rgb(255, 255, 255);
  gap: 2.5em;
}

.headline {
  @include tablet {
    gap: 3em;
  }
  @include large-mobile {
    gap: 2em;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}
.profile-pic {
  width: 10em;
}
.about-me-title {
  @include tablet {
    font-size: 2.5em;
  }
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}
.presentation-text {
  @include large-mobile {
    font-size: 1em;
  }
  font-size: 1.3em;
}
.openclassrooms {
  color: $openclassrooms-color;
  margin-left: 7px;
  text-decoration: none;
  cursor: pointer;
}
.author {
  text-align: left;
  margin-top: 1em;
}

#my-projects {
  @include large-mobile {
    padding: 0 1em;
  }
  padding: 0 2em;

  .projects-items {
    @include large-mobile {
      gap: 3em;
    }
    display: grid;
    gap: 6em;
  }
}

#my-skills {
  width: 100%;
  .skills-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url("background-light.webp");
    box-shadow: 0px 0px 4px rgb(255, 255, 255);
    /////////////////////////////////////////////////
    .html-logo {
      @include large-mobile {
        font-size: 3em;
      }
      color: $html-color;
      @include tools-icons-dimensions;
    }
    /////////////////////////////////////////////////
    .css-logo {
      @include large-mobile {
        font-size: 3em;
      }
      color: $css-color;
      @include tools-icons-dimensions;
    }
    /////////////////////////////////////////////////
    .js-logo {
      @include large-mobile {
        font-size: 3em;
      }
      color: $js-color;
      @include tools-icons-dimensions;
    }
    /////////////////////////////////////////////////
    .sass-logo {
      @include large-mobile {
        font-size: 3em;
      }
      color: $sass-color;
      @include tools-icons-dimensions;
    }
    /////////////////////////////////////////////////
    .react-logo {
      @include large-mobile {
        font-size: 3em;
      }
      color: $react-color;
      @include tools-icons-dimensions;
    }
    /////////////////////////////////////////////////
    .node-logo {
      @include large-mobile {
        font-size: 3em;
      }
      color: $node-color;
      @include tools-icons-dimensions;
    }
    /////////////////////////////////////////////////
    .mongodb-logo {
      @include large-mobile {
        width: 1.6em;
      }
      @include mongodb-logo-dimensions;
    }
    /////////////////////////////////////////////////
    .express-logo {
      @include large-mobile {
        width: 4em;
      }
      @include express-logo-dimensions;
    }
  }
}

#contact {
  @include mid-desktop {
    width: 50%;
  }
  @include tablet {
    width: 60%;
  }
  @include large-mobile {
    width: 90%;
  }
  width: 40%;
}
