@import "/common.scss";

.header {
  height: 6em;
  transition: height 0.2s ease;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  backdrop-filter: brightness(50%) blur(1px);
  z-index: 10;
}
.is-scrolled {
  height: 5.2em;
}

.logo {
  @include mid-desktop {
    margin-right: 14vw;
  }
  @include large-mobile {
    margin-right: 12vw;
  }
  @include small-mobile {
    margin-left: 1.2em;
    margin-right: 8vw;
  }
  display: flex;
  width: 3.5em;
  margin: 0 8.3em 0 1.5em;
}

.menu {
  @include mid-desktop {
    margin-left: -4vw;
  }
  @include large-mobile {
    margin-right: 6vw;
  }

  ul {
    @include mid-desktop {
      gap: 5vw;
    }
    @include large-mobile {
      margin-right: 2em;
    }
    display: flex;
    padding: 0;
    gap: 8vw;

    li {
      list-style: none;
      white-space: nowrap;

      a {
        @include mid-desktop {
          font-size: 3vw;
        }
        @include large-mobile {
          font-size: 4.3vw;
        }
        @include small-mobile {
          font-size: 4.5vw;
        }
        font-size: 1.8em;
        font-weight: 500;
        background-image: -webkit-linear-gradient(
          left,
          white 25%,
          #c1b4ff 37.5%,
          #8972fe,
          #5e3dff 62.5%,
          #69648d 75%
        );
        background-image: linear-gradient(
          90deg,
          white 25%,
          #c1b4ff 37.5%,
          #8972fe,
          #5e3dff 62.5%,
          white 75%
        );
        background-position: right center;
        background-size: 400% auto;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      a:hover {
        background-position: left center;
        color: #3f19ff;
        transition: background-position 250ms ease-out;
      }
    }
  }
}
