@import "/common.scss";

.my-logo {
  @include tablet {
    margin: 1em 2em 1em 2em;
  }
  @include large-mobile {
    height: 3em;
  }
  height: 5em;
  margin: 1em;
}

.year-and-name {
  @include mid-desktop {
    gap: 3vw;
  }
  @include tablet {
    font-size: 2vw;
    gap: 3vw;
  }
  @include large-mobile {
    gap: 2vw;
  }
  display: flex;
  gap: 3em;
}

.current-year {
  @include large-mobile {
    font-size: 1em;
  }
  font-size: 2em;
}

.firstname-lastname {
  @include large-mobile {
    font-size: 1em;
  }
  font-size: 2em;
  white-space: nowrap;
}
