@import "/common.scss";
.footer {
  height: 5.2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.my-logo {
  @include small-mobile {
    margin-left: 1em;
  }
  height: 4em;
  margin: 0.7em 1.3em;
}

.year-and-name {
  @include mid-desktop {
    gap: 3vw;
  }
  @include tablet {
    font-size: 2vw;
    gap: 3vw;
  }
  @include large-mobile {
    font-size: 4vw;
    gap: 2vw;
  }
  @include small-mobile {
    font-size: 4.5vw;
  }
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  gap: 2em;
}

.current-year {
  @include large-mobile {
    font-size: 1em;
  }
  font-size: 2em;
}

.firstname-lastname {
  @include large-mobile {
    font-size: 1em;
  }
  font-size: 2em;
  white-space: nowrap;
}
