@import "/common.scss";

.social-links {
  @include mid-desktop {
    margin-right: 1.5vw;
  }
  @include large-mobile {
  }
  display: flex;
  justify-content: center;
  width: 10em;
  margin: 1.5em;
  ul {
    @include mid-desktop {
      gap: 3.2vw;
    }
    display: flex;
    padding: 0;
    margin: 0;
    gap: 2em;
    li {
      list-style: none;
      a {
        @include tablet {
          font-size: 4vw;
        }
        @include large-mobile {
          font-size: 5vw;
        }
        font-size: 2em;
        color: $purple;
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
      }
      a:hover {
        color: white;
      }
    }
  }
}

.header-social-links {
  @include large-mobile {
    display: none;
  }
}

.footer-social-links {
  @include mid-desktop {
    right: 2.2%;
  }
  @include large-mobile {
    right: 3.5%;
  }
  position: absolute;
  width: auto;
  margin-right: 0;
  right: 2%;
}
