@import "/common.scss";

.social-links {
  @include mid-desktop {
    margin: 3vw;
  }
  @include large-mobile {
    width: 7.5em;
  }
  display: flex;
  justify-content: center;
  width: 10em;
  margin: 2em;
  ul {
    @include mid-desktop {
      gap: 3vw;
    }
    display: flex;
    padding: 0;
    margin: 0;
    gap: 2em;
    li {
      list-style: none;
      a {
        @include tablet {
          font-size: 4vw;
        }
        @include large-mobile {
          font-size: 5vw;
        }
        font-size: 2em;
        color: $purple;
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
      }
      a:hover {
        color: white;
      }
    }
  }
}

.header-social-links {
  @include large-mobile {
    display: none;
  }
}
